<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name=".Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateNewEvent" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ShowEvent" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Agenda" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ShowMessage" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Login" 
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true"
            android:excludeFromRecents="true" />
        <activity android:name=".Register" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".PostMessage" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ContactList" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ShowContact" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".EditProfile" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".EditEvent" 
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ShowNotifications"
            android:windowSoftInputMode="stateHidden" />
                

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>